<!DOCTYPE html>
<html lang="en">

{{>head }}

<body>

    {{> navbar}}

    <div class="row">

        <div class="col-8">
            <h1> Bella Dama</h1>
            <p>Texto descriptivo para la bella dama!</p>

        </div>

        <div class="col-4">
            <img src="assets/img/sexy.jpg" alt="no mostrable" class="img-thumbnail" width="8000x" height="400px">
        </div>

    </div>

    {{>footer }}

</body>

</html>